# Medusa Backend
NEXT_PUBLIC_MEDUSA_API_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=
NEXT_PUBLIC_MEDUSA_REGION_ID=

# Base URL (para sitemap e OpenGraph)
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Mercado Pago (para checkout)
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=
